<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ListenTo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="container">
    	<div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter youtube url"  aria-describedby="basic-addon2" id="itemUrl">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="addItemToList()">Add</button>
            </div>
		</div>
        <div class="container">
            <ul class="list-group" id="playlist">

			</ul>
        </div>
        <button class="btn btn-outline-secondary" onclick="playAll()">Submit</button>
    </div>
    <div>
        <audio id="audio" controls style="">
            <source id="audPlayer" src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    <script type="text/javascript">
        var root='http://172.26.90.165:5000/';

    	function addItemToList(){
    		var itemTemplate = '<li class="list-group-item itemUrl">';
	    	var newItem = $('#itemUrl').val();
            var id = newItem.split("=")[1];
	    	$('#itemUrl').val("");
	    	itemTemplate+=id+"</li>";
	    	$('#playlist').append(itemTemplate);
    	}
    	function playAll(){
    	    if($('.itemUrl').length>0)
    	    play(0);
    	}
        function play(ind){
            var apiUrl=root+'play/';
            var id,i,list = $('.itemUrl');
            i=0;
            id=list[i].innerHTML;
            console.log("id: "+id);
            getAudio(apiUrl+id).then(function (){
                console.log("play next");
            if(ind+1<list.length)
            return play(ind+1);
            });
        }
        function getAudio(audioUrl){

            return new Promise((resolve, reject)=>{
                $.ajax({
                    url: audioUrl,
                    method: 'GET',
                    headers: {
                        'Access-Control-Allow-Origin': '*'
                    },
                    success: function (res){
                        console.log(res);
                        playAudio().then(function (){
                            resolve();
                        })
                    }
                });
            });
        }

        function playAudio(){
            return new Promise((resolve, reject)=>{
                $('#audPlayer').attr('src', root+'file/test.mp3');
                var audio = document.getElementById('audio');
                audio.load();
                audio.play();
                audio.onended=function (){
                    console.log("ended");
                    resolve();
                };
            });
        }
    </script>
    
</body>
</html>